
<header>
  <span class="brand">Fight<span class="z">Z</span>ona <span class="version">&#945;</span></span>
  <login-buttons></login-buttons>
  <ps-settings></ps-settings>
</header>

<!-- <div class="settings-container" style="position:absolute;top: 200px;left: 30px;background: white">
  <div class="settings-title">Настройки
    <span class="settings-close" ng-click="showSettings = false">&#10006;</span></div>
  <div class="settings-content">
    <h4 class="settings-heading">Личные данные</h4>
    <input class="settings-input" ng-model="testUser.profile.fullname" type="text" placeholder="Ваши ФИО">
    {{testUser}}
  </div>
</div> -->

<div class="fz-content">
  <h4>Пользователи</h4>

  <table class="fz-table">
    <thead>
      <tr>
        <td></td>
        <td>№</td>
        <td>Полное имя</td>
        <td>login</td>
        <td>Тренер</td>
        <td>Админ</td>
        <td>Мастер</td>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="user in users">
        <td></td>
        <td>{{$index + 1}}</td>
        <!-- <td>{{user.profile.fullname}}</td> -->
        <td class="tbl-input"><input ng-model="user.profile.fullname" type="text" placeholder="Введите ФИО"></td>
        <td>{{user.username}}</td>
        <td class="tbl-check"><input type="checkbox" ng-model="user.trainer" class="" /></td>
        <td class="tbl-check"><input type="checkbox" ng-model="user.admin" class="" /></td>
        <td class="tbl-check"><input type="checkbox" ng-model="user.master" class="" /></td>
      </tr>
    </tbody>
  </table>

  <h4>Клиенты</h4>

  <table class="fz-table">
    <thead>
      <tr>
        <td></td>
        <td>№</td>
        <td class="tbl-text">Полное имя</td>
        <td>Явка</td>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="client in clients">
        <td></td>
        <td>{{$index + 1}}</td>
        <td class="tbl-text">{{client.fullname}}</td>
        <td class="tbl-check"><input type="checkbox" ng-model="client.came" class="" /></td>
        <td class="tbl-btn" ng-click="delClient(client)">&#10006;</td>
      </tr>
      <tr>
        <td class="tbl-btn"><span ng-hide="showForm" ng-click="showForm = true;">&#10133;</span></td>
        <td ng-hide="showForm" ng-repeat="i in [1,2,3,4]"></td>
        <td ng-show="showForm">{{clients.length + 1}}</td>
        <td class="tbl-input" ng-show="showForm"><form class="" ng-show="showForm" ng-submit="MainCtrl.addClient(); MainCtrl.newClient={}; showForm = false;" novalidate>
          <input name="fullname" ng-model="MainCtrl.newClient.fullname" type="text" placeholder="Введите ФИО"></form></td>
        <td class="tbl-btn" ng-show="showForm" ng-click="MainCtrl.addClient(); MainCtrl.newClient={}; showForm = false;">&#10004;</td>
        <td class="tbl-btn" ng-show="showForm" ng-click="MainCtrl.newClient={}; showForm = false;">&#10006;</td>
      </tr>
      {{MainCtrl.newClient}}
      <!-- <tr ng-show="showForm">
        <td></td>
        <td>{{clients.length + 1}}</td>
        <td><form class="" ng-show="showForm" ng-submit="addClient(newClient); newClient.fullname=''; showForm = false;" novalidate>
          <input class="tbl-input" name="fullname" ng-model="newClient.fullname" type="text" placeholder="Введите ФИО"></form></td>
        <td class="tbl-btn" ng-click="addClient(newClient); newClient.fullname=''; showForm = false;">&#10004;</td>
        <td class="tbl-btn" ng-click="newClient.fullname=''; showForm = false;">&#10006;</td>
      </tr> -->
    </tbody>
  </table>
  <fz-input></fz-input>
  <fz-input></fz-input>
</div>
