@import 'variables'
@import 'elements/elements'
@import 'animations/animations'
@import 'packages/accounts-ui'
@import '../components/components'
@import '../views/views'

body
  width: 100%
  margin: 0
  font-family: HelveticaNeue-Light, Helvetica Neue Light, Helvetica Neue, Helvetica, Arial, Lucida Grande, sans-serif
  font-size: 16px

input, textarea, button
  font-size: 16px

h4  //used for section titles
  margin-bottom: 10px

a
  text-decoration: none
  cursor: pointer

header
  width: 100%
  padding: 0
  margin: 0
  line-height: 32px
  background-color: #333

.brand
  margin-left: 10px
  font-size: 19px
  font-weight: bold
  color: white
  .z
    color: red
  .version
    font-size: 16px
    font-style: italic
    color: grey

.fz-table
  border-spacing: 0 2px
  thead
    font-weight: bold
  tr
    &:nth-child(even)
      background-color: #eee
  td
    line-height: 25px
    vertical-align: middle
    &:nth-child(1)
      width: 40px
    &:nth-child(2)
      width: 30px
    &:nth-child(3)
      width: 250px
  .tbl-btn
    width: 40px
    text-align: center
    cursor: pointer
    &.btn-add
      font-size: 20px
      font-weight: bold
    &.btn-ok
    &.btn-cancel
  .tbl-check
    width: 40px
    text-align: center
  .tbl-text
    padding-left: 3px
  .tbl-input
    padding-left: 0
    input
      padding: 3px
      width: 244px
      border: none
      background: none
      // background-color: #f9f9f9

.fz__content
  // padding-left: 6px
