@import 'variables'
@import 'animations/animations'
@import 'packages/accounts-ui'
@import '../components/components'
@import '../views/views'

body
  width: 100%
  margin: 0
  font-family: HelveticaNeue-Light, Helvetica Neue Light, Helvetica Neue, Helvetica, Arial, Lucida Grande, sans-serif
  font-size: 16px

input, textarea, button
  font-size: 16px

h4  //used for section titles
  margin-bottom: 10px

a
  text-decoration: none
  cursor: pointer

.btn
  display: inline-block
  padding: 6px 12px
  margin-left: 14px
  font-size: 14px
  color: #ffffff
  text-align: center
  text-decoration: none
  cursor: pointer
  border-style: solid
  border-width: 1px
  border-radius: $default-boder-radius
  &.active
    position: relative
    top: 1px

.btn-ok
  background-color: #45c745
  border-color: #18ab29
  &:hover
    background-color: #42bd2a

.btn-cancel
  background-color: #d0451b
  border-color: #942911
  &:hover
    background-color: #bc3315

header
  width: 100%
  padding: 0
  margin: 0
  line-height: 32px
  background-color: #333

.brand
  margin-left: 10px
  font-size: 19px
  font-weight: bold
  color: white
  .z
    color: red
  .version
    font-size: 16px
    font-style: italic
    color: grey


.fz-content
  margin-left: 10px

.fz-table
  border-spacing: 0 2px
  thead
    font-weight: bold
  tr
    &:nth-child(even)
      background-color: #eee
  td
    line-height: 25px
    vertical-align: middle
    &:nth-child(1)
      width: 40px
    &:nth-child(2)
      width: 30px
    &:nth-child(3)
      width: 250px
  .tbl-btn
    width: 40px
    text-align: center
    cursor: pointer
    &.btn-add
      font-size: 20px
      font-weight: bold
    &.btn-ok
    &.btn-cancel
  .tbl-check
    width: 40px
    text-align: center
  .tbl-text
    padding-left: 3px
  .tbl-input
    padding-left: 0
    input
      padding: 3px
      width: 244px
      border: none
      background: none
      // background-color: #f9f9f9
