<fz-list class="fz-list--level-1 fz-list--no-background" list-title="Пользователи" show-new="vm.showNew">

<table class="fz-table">
  <thead>
    <tr>
      <td></td>
      <td>№</td>
      <td>Полное имя</td>
      <td>login</td>
      <td>email</td>
      <td>Клиент</td>
      <td>Тренер</td>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="user in vm.users">
      <td></td>
      <td>{{$index + 1}}</td>
      <td>{{user.profile.fname}}</td>
      <td>{{user.username}}</td>
      <td>{{user.emails[0].address}}</td>
      <td class="tbl-check"><input type="checkbox" ng-model="user.settings.client" class="" /></td>
      <td class="tbl-check"><input type="checkbox" ng-model="user.settings.trainer" class="" /></td>
      <td><input type="button" ng-click="vm.updateUserSettings(user._id)" value="Сохранить изменения" /></td>
       <!-- ng-disabled="!vm.settingsChanged()" -->
    </tr>
  </tbody>
</table>
</fz-list>
